{% extends 'list_meters.html' %}
    {% block content %}
        <h1 class="mb-5 mt-4">Create meter</h1>
            <form action="{% url 'create_meter' %}" method='post'>
                {% csrf_token %}
                {% for field in form %}

                <div class="form-group">
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                        {{ field.label }}
                        {{ field }}
                </div>
                {% endfor %}
                    <a href="{% url 'list_meters' %}"><button type="submit" class="btn btn-light">Cancel</button></a>
                    <button type="submit" class="btn btn-success">Create meter</button>
            </form>
            </div>

    {% endblock %}
